apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-deploy
  labels:
    tier: frontend
spec:
  template:
    metadata:
      labels:
        app: web
        tier: frontend
    spec:
      containers:
      - name: nginx
        image: nginx:1.7.9
  replicas: 10
  selector:
    matchLabels:
      app: web
      tier: frontend
